<!-- FOOTER -->
<div class="arlo_tm_footer">
    <div class="container">
        <div class="footer_inner">
            <div class="copy">
                <p>Copyright &copy; 2019 - 2020. Template has been designed by <a
                        href="https://themeforest.net/item/arlo-personal-portfolio-template/23175475"
                        target="_blank">Marketify</a></p>
            </div>
            <div class="top">
                <a class="arlo_tm_totop" href="#"></a>
            </div>
        </div>
    </div>
</div>
<!-- /FOOTER -->