.hero_image {
    background-image: url('/assets/img/about/background.jpg');
    background-attachment: fixed;
}

.img-parallax {
    background-image: url('/assets/img/about/profil.png');
}

.profil {
    box-shadow : -0.5em 0 .4em rgba(116, 116, 116, 0.603);
}
