<div class="arlo_tm_rightpart no_padding">
    <div class="rightpart_inner">

        <!-- HOME -->
        <div class="arlo_tm_section" id="home">
            <div class="arlo_tm_hero_header">
                <div class="hero_image jarallax" data-img-url="/assets/img/about/background.jpg" data-speed="0">
                </div>
                <div class="overlay"></div>
                <div class="hero_content">
                    <div class="image_wrap">
                        <img src="/assets/img/about/pp.jpg" alt="" />
                        <div class="main" data-img-url="img/about/pp.jpg"></div>
                    </div>
                    <div class="name_holder">
                        <h3><span>A</span>lexandre <span>B</span>run-<span>G</span>iglio</h3>
                    </div>
                    <div class="text_typing">
                        <p>Je suis <span class="arlo_tm_animation_text_word"></span></p>
                    </div>
                </div>
                <div class="arlo_tm_arrow_classic bounce anchor">
                    <a href="#about"><i class="xcon-angle-double-down"></i></a>
                </div>
            </div>
        </div>
        <!-- HOME -->
        <!-- ABOUT -->
        <div class="arlo_tm_section" id="about">
            <div class="arlo_tm_about_wrap_all">
                <div class="arlo_tm_about">
                    <div class="container">
                        <div class="about_inner">
                            <div class="leftbox">
                                <div class="about_image_wrap parallax" data-relative-input="true">
                                    <div class="image layer" data-depth="0.1">
                                        <img src="assets/img/about/550x650.jpg" alt="" />
                                        <div class="inner" data-img-url="assets/img/about/profil.png"></div>
                                    </div>
                                    <div class="border layer" data-depth="0.2">
                                        <img src="assets/img/about/550x650.jpg" alt="" />
                                        <div class="inner"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="rightbox">
                                <div class="arlo_title_holder about">
                                    <span>Main Info</span>
                                    <h3>Présentation</h3>
                                </div>
                                <div class="text">
                                    <p>
                                        Originaire d'Ajaccio, je suis titulaire d'un Bac S Science de l'ingénieur avec
                                        <span>mention</span> Depuis quelques années maintenant j'ai développé une
                                        véritable passion
                                        pour les nouvelles technologies et celles du monde de demain.
                                        <br> En effet avec l'évolution des technologies le monde s'oriente vers le
                                        digital et le numérique.
                                        Egalement passioné de jeux vidéo, je partage ce divertissement avec mes amis.
                                        <br>En 2018 je suis entré en première année de bachelor dans l'école supérieure
                                        du numérique Ingésup, située sur le campus Ynov à Aix-en-Provence.
                                        Dans cette école je peux travailler et acquérir de nouvelles compétences dans le
                                        développement
                                        web, l'infrastructure réseaux, la cybersécurité et le développement de
                                        logiciels. J'ai à l'heure actuelle élaboré un profil de développeur web front.
                                        Je cherche à améliorer l'expérience utilisateur sur différentes technologies.
                                        Bientôt à la recherche d'une alternance je suis intéressé par des projets qui me
                                        permettront de m'épanouir et d'améliorer mes compétences lors de stages.
                                    </p>
                                </div>
                                <div class="about_short_contact_wrap">
                                    <ul>
                                        <li>
                                            <img class="svg" src="assets/img/svg/gift.svg" alt="" />
                                            <span><label>Anniversaire:</label> 25.02.2000</span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/calendar-4.svg" alt="" />
                                            <span><label>Age:</label> 20</span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/location-1.svg" alt="" />
                                            <span><label>Naissance:</label> <a class="href_location" href="#">
                                                    Ajaccio</a></span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/car.svg" alt="" />
                                            <span><label>Permis:</label> B </span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/study-5.svg" alt="" />
                                            <span><label>Ecole:</label> <a class="href_location" href="#">
                                                    Ynov Campus Aix</a></span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/degree-1.svg" alt="" />
                                            <span><label>Niveau:</label> Bachelor</span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/message-3.svg" alt="" />
                                            <span><label>Mail:</label> <a
                                                    href="mailto:alexandre.brungiglio@ynov.com">alexandre.brungiglio@ynov.com</a></span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/call-2.svg" alt="" />
                                            <span><label>Phone:</label> <a href="tel:+33619292924">
                                                    0619292924</a></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="buttons" style="border-radius: 10px;">
                                    <ul>
                                        <li><a href="#"><span>Mon CV</span></a></li>
                                        <li><a routerLink="/contact"><span>Me contacter ?</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ABOUT -->
        <app-footer></app-footer>
    </div>
</div>