<div class="arlo_tm_rightpart no_padding">
    <div class="rightpart_inner" *ngFor="let info of infos">

        <!-- HOME -->
        <div class="arlo_tm_section" id="home">
            <div class="arlo_tm_hero_header">
                <div class="hero_image jarallax" data-speed="0">
                </div>
                <div class="overlay"></div>
                <div class="hero_content">
                    <div class="image_wrap">
                        <img src="/assets/img/about/pp.jpg" alt="" />
                        <div class="main" data-img-url="img/about/pp.jpg"></div>

                    </div>
                    <div class="name_holder">
                        <h3><span>A</span>lexandre <span>B</span>run-<span>G</span>iglio</h3>
                    </div>
                    <div class="text_typing">
                        <p>Je suis <span class="arlo_tm_animation_text_word"></span></p>
                    </div>
                </div>
                <div class="arlo_tm_arrow_classic bounce anchor">
                    <a href="#about"><i class="fas fa-chevron-down"></i></a>
                </div>
            </div>
        </div>
        <!-- HOME -->
        <!-- ABOUT -->
        <div class="arlo_tm_section" id="about">
            <div class="arlo_tm_about_wrap_all">
                <div class="arlo_tm_about">
                    <div class="container">
                        <div class="about_inner">
                            <div class="leftbox">
                                <!-- <div class="about_image_wrap parallax" data-relative-input="true">
                                    <div class="image layer" data-depth="0.1">
                                        <img src="assets/img/about/profil.png">
                                        <img src="assets/img/about/550x650.jpg" alt="" />
                                    </div>
                                    <div class="border layer" data-depth="0.2">
                                        <img src="assets/img/about/550x650.jpg" alt="" />
                                        <div class="inner"></div>
                                    </div>
                                </div> -->
                                <div class="inner">
                                    <img class="rounded" src="assets/img/about/profil.png">
                                </div>
                            </div>
                            <div class="rightbox">
                                <div class="arlo_title_holder about">
                                    <span>Main Info</span>
                                    <h3>Présentation</h3>
                                </div>
                                <div class="text">
                                    <p>
                                        {{ info.description }}
                                    </p>
                                </div>
                                <div class="about_short_contact_wrap">
                                    <ul>
                                        <li>
                                            <img class="svg" src="assets/img/svg/gift.svg" alt="" />
                                            <span><label>Né le :</label>
                                                {{ info.birth | date :'dd-MM-yyyy'}}</span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/location-1.svg" alt="" />
                                            <span><label>Ville de naissance :</label> <a class="href_location" href="#">
                                                    {{ info.ville }}</a></span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/car.svg" alt="" />
                                            <span><label>Permis:</label> {{ info.permis }} </span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/study-5.svg" alt="" />
                                            <span><label>Ecole:</label> <a class="href_location" href="#">
                                                    {{ info.ecole }}</a></span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/degree-1.svg" alt="" />
                                            <span><label>Niveau:</label> {{ info.niveau }}</span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/call-2.svg" alt="" />
                                            <span><label>Phone:</label> <a href="tel:+33619292924">
                                                    {{ info.tel }}</a></span>
                                        </li>
                                        <li>
                                            <img class="svg" src="assets/img/svg/message-3.svg" alt="" />
                                            <span><strong>Mail: </strong><a
                                                    href="mailto:alexandre.brungiglio@ynov.com">{{ info.email }}</a></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="buttons" style="border-radius: 10px;">
                                    <ul>
                                        <li><a href="../../assets/img/CV.pdf" target="blank"><span>Mon CV</span></a>
                                        </li>
                                        <li><a routerLink="/contact"><span>Me contacter ?</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ABOUT -->
        <app-footer></app-footer>
    </div>
</div>