<div class="top-margin">
    <div class="arlo_tm_rightpart no_padding">
        <div class="rightpart_inner">
            <!-- TIMELINE -->
            <div class="arlo_tm_section">
                <div class="arlo_tm_timeline">
                    <div class="container">
                        <div class="arlo_title_holder">
                            <span>Working Process</span>
                            <h3>Experience</h3>
                        </div>
                        <div class="timeline_inner">
                            <div class="left">
                                <ul>
                                    <li *ngFor="let school of pros">
                                        <div class="inner">
                                            <img class="svg" src="assets/img/svg/portfolio.svg" alt="" />
                                            <p class="year">{{ school.date_start | date : 'dd-MM-yyyy' }} | {{ school.date_end | date : 'dd-MM-yyyy' }}</p>
                                            <h3 class="title">{{ school.title }}</h3>
                                            <p class="text">{{school.description}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="right mt-4">
                                <ul>
                                    <li *ngFor="let school of exp">
                                        <div class="inner">
                                            <img class="svg" src="assets/img/svg/degree-5.svg" alt="" />
                                            <p class="year">{{ school.date_start | date : 'dd-MM-yyyy' }} | {{ school.date_end | date : 'dd-MM-yyyy' }}</p>
                                            <h3 class="title">{{ school.title }}</h3>
                                            <p class="text">{{school.description}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /TIMELINE -->
        </div>
        <app-footer></app-footer>
    </div>
</div>