<div class="top-margin">
    <div class="arlo_tm_rightpart no_padding">
        <div class="rightpart_inner">
            <!-- TIMELINE -->
            <div class="arlo_tm_section">
                <div class="arlo_tm_timeline">
                    <div class="container">
                        <div class="arlo_title_holder">
                            <span>Working Process</span>
                            <h3>Experience</h3>
                        </div>
                        <div class="timeline_inner">
                            <div class="left">
                                <ul>
                                    <li>
                                        <div class="inner">
                                            <img class="svg" src="assets/img/svg/portfolio.svg" alt="" />
                                            <p class="year">2020 - Current</p>
                                            <h3 class="title">Alternance Nextalys</h3>
                                            <p class="text">Web development refers to building, creating, and an
                                                maintaining websites. It includes aspects such as web design, web
                                                programming, and database management.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="inner">
                                            <img class="svg" src="assets/img/svg/portfolio.svg" alt="" />
                                            <p class="year">2019 - 2020</p>
                                            <h3 class="title">Start-Up Peekit</h3>
                                            <p class="text">Web development refers to building, creating, and an
                                                maintaining websites. It includes aspects such as web design, web
                                                programming, and database management.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="inner">
                                            <img class="svg" src="assets/img/svg/portfolio.svg" alt="" />
                                            <p class="year">2018 - 2019 (2 mois)</p>
                                            <h3 class="title">Crédit Agricole Eimmo</h3>
                                            <p class="text">Web development refers to building, creating, and an
                                                maintaining websites. It includes aspects such as web design, web
                                                programming, and database management.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="inner">
                                            <img class="svg" src="assets/img/svg/portfolio.svg" alt="" />
                                            <p class="year">2018 - 2019</p>
                                            <h3 class="title">Start-Up Flayck</h3>
                                            <p class="text">Web development refers to building, creating, and an
                                                maintaining websites. It includes aspects such as web design, web
                                                programming, and database management.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="right mt-4">
                                <ul>
                                    <li>
                                        <div class="inner">
                                            <img class="svg" src="assets/img/svg/degree-5.svg" alt="" />
                                            <p class="year">2018 - 2020</p>
                                            <h3 class="title">Ynov Campus Informatique</h3>
                                            <p class="text">Independent study is a form of education offered by many
                                                high schools, colleges, and other educational institutions. It is
                                                sometimes referred to as directed study.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="inner">
                                            <img class="svg" src="assets/img/svg/degree-5.svg" alt="" />
                                            <p class="year">2015 - 2018</p>
                                            <h3 class="title">Lycée Laetitia Bonaparte</h3>
                                            <p class="text">Independent study is a form of education offered by many
                                                high schools, colleges, and other educational institutions. It is
                                                sometimes referred to as directed study.</p>
                                        </div>
                                    </li>
                                    <!-- <li>
                                            <div class="inner">
                                                <img class="svg" src="assets/img/svg/degree-5.svg" alt="" />
                                                <p class="year">1996 - 2006</p>
                                                <h3 class="title">Secondary School</h3>
                                                <p class="text">Independent study is a form of education offered by many
                                                    high schools, colleges, and other educational institutions. It is
                                                    sometimes referred to as directed study.</p>
                                            </div>
                                        </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /TIMELINE -->
        </div>
        <app-footer></app-footer>
    </div>
</div>