<!-- CONTACT -->
<div class="arlo_tm_section" id="contact">
    <div class="arlo_tm_contact">
        <div class="container">
            <div class="arlo_title_holder">
                <span>Get in Touch</span>
                <h3>Contact</h3>
            </div>
            <div class="contact_inner">
                <div class="short_list">
                    <ul>
                        <li>
                            <img class="svg" src="assets/img/svg/location-1.svg" alt="" />
                            <h3>Location</h3>
                            <p>Aix-en-Provence 13180</p>
                        </li>
                        <li>
                            <img class="svg" src="assets/img/svg/message-3.svg" alt="" />
                            <h3>Email</h3>
                            <p>alexandre.brungiglio@ynov.com</p>
                        </li>
                        <li>
                            <img class="svg" src="assets/img/svg/call-2.svg" alt="" />
                            <h3>Tel</h3>
                            <p>+33 6 19 29 29 24</p>
                        </li>
                    </ul>
                </div>
                <div class="fields">
                    <form [formGroup]="mailForm" (ngSubmit)="onSubmit()" class="contact_form" id="contact_form">
                        <div class="empty_notice"><span>Please Fill Required Fields</span></div>
                        <div class="first">
                            <ul>
                                <li>
                                    <input id="name" type="text" formControlName="name" placeholder="Name">
                                </li>
                                <li>
                                    <input id="email" type="text" formControlName="email" placeholder="Email">
                                </li>
                            </ul>
                        </div>
                        <div class="last">
                            <textarea id="message" formControlName="msg" placeholder="Message"></textarea>
                        </div>
                        <div class="arlo_tm_button">
                            <button id="send_message" type="submit" (click)="createMail(mail)" class="btn btn-primary"
                                [disabled]="!mailForm.valid">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
<!-- /CONTACT -->