<div class="arlo_tm_rightpart no_padding">
    <div class="rightpart_inner">
        <!-- SKILLS -->
        <div class="arlo_tm_section" id="services">
            <div class="arlo_tm_services">
                <div class="container-fluid">
                    <div class="arlo_title_holder">
                        <span>Technologies</span>
                        <h3>Compétences | Savoirs Faire</h3>
                    </div>
                    <div class="arlo_tm_progress_wrap">
                        <div class="progress_wrap_inner">
                            <div class="left" style="margin-top: -90px;">
                                <div class="service_inner">
                                    <div class="arlo_title_holder" style="margin-top: -30px;margin-bottom: 30px;">
                                        <span>Technologies que j'utilise :</span>
                                    </div>
                                    <ul>
                                        <li *ngFor="let skill of utilise">
                                            <a target="blank" href="{{ skill.url }}" data-toggle="tooltip" data-placement="top" title="{{ skill.name }}">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg mx-auto" src="{{ skill.image }}"
                                                        alt="{{ skill.name }}" />
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="right" style="margin-top: -90px;">
                                <div class="service_inner">
                                    <div class="arlo_title_holder" style="margin-top: -30px;margin-bottom: 30px;">
                                        <span>Technologies qui m'intéressent :</span>
                                    </div>
                                    <ul>
                                        <li *ngFor="let skill of voir">
                                            <a target="blank" href="{{ skill.url }}" data-toggle="tooltip" data-placement="top" title="{{ skill.name }}">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg mx-auto" src="{{ skill.image }}"
                                                        alt="{{ skill.name }}" />
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>