<div class="arlo_tm_rightpart no_padding">
    <div class="rightpart_inner">
        <!-- SKILLS -->
        <div class="arlo_tm_section" id="services">
            <div class="arlo_tm_services">
                <div class="container">
                    <div class="arlo_title_holder">
                        <span>Technologies</span>
                        <h3>Compétences | Savoirs Faire</h3>
                    </div>
                    <div class="arlo_tm_progress_wrap">
                        <div class="progress_wrap_inner">
                            <div class="left" style="margin-top: -90px;">
                                <!-- <div class="main_title">
                            <h3>In a <span>short time</span>, I have been able to achieve excellence in all areas of app and web development.</h3>
                        </div>
                        <div class="text">
                            <p>I provide cost-effective and high quality products to meet our Clients’ needs of timely delivery World Wide. I want to be local in a global world to be where our Customers need our services customers need our services.</p>
                        </div> -->

                                <div class="service_inner">
                                    <div class="arlo_title_holder" style="margin-top: -30px;margin-bottom: 30px;">
                                        <span>Technologies que j'utilise :</span>
                                    </div>
                                    <ul>
                                        <li>
                                            <a target="blank" href="https://developer.mozilla.org/fr/docs/Web/HTML">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/html.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank" href="https://developer.mozilla.org/fr/docs/Web/CSS">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/css.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank" href="https://getbootstrap.com/">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/boostrap.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank"
                                                href="https://developer.mozilla.org/fr/docs/Web/JavaScript">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/js.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank" href="https://angular.io/">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/angular.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank" href="https://www.php.net/manual/fr/intro-whatis.php">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/php.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank" href="https://sql.sh/">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/sql.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank" href="https://laravel.com/">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/laravel.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="inner" style="border-radius: 10px;">
                                                <img class="svg" src="assets/img/svg/whiteR.svg" alt="" />
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="right" style="margin-top: -90px;">
                                <!-- <div class="arlo_progress">
                            <div class="progress_inner" data-value="95" data-color="#0075FB">
                                <span><span class="label">Web Development</span><span class="number">95%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                            <div class="progress_inner" data-value="80" data-color="#0075FB">
                                <span><span class="label">Brand Identity</span><span class="number">80%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                            <div class="progress_inner" data-value="90" data-color="#0075FB">
                                <span><span class="label">Javascript</span><span class="number">90%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                            <div class="progress_inner" data-value="85" data-color="#0075FB">
                                <span><span class="label">WordPress</span><span class="number">85%</span></span>
                                <div class="background"><div class="bar"><div class="bar_in"></div></div></div>
                            </div>
                        </div> -->
                                <div class="service_inner">
                                    <div class="arlo_title_holder" style="margin-top: -30px;margin-bottom: 30px;">
                                        <span>Technologies qui m'intéressent :</span>
                                    </div>
                                    <ul>
                                        <li>
                                            <a target="blank" href="https://fr.reactjs.org/">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/react.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank" href="https://ionicframework.com/">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/ionic.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank" href="https://nodejs.org/en/docs/">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/nodejs.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="blank" href="https://nestjs.com/">
                                                <div class="inner" style="border-radius: 10px;">
                                                    <img class="svg" src="assets/img/svg/nestjs.svg" alt="" />
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="inner" style="border-radius: 10px;">
                                                <img class="svg" src="assets/img/svg/whiteR.svg" alt="" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="inner" style="border-radius: 10px;">
                                                <img class="svg" src="assets/img/svg/whiteR.svg" alt="" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="inner" style="border-radius: 10px;">
                                                <img class="svg" src="assets/img/svg/whiteR.svg" alt="" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="inner" style="border-radius: 10px;">
                                                <img class="svg" src="assets/img/svg/whiteR.svg" alt="" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="inner" style="border-radius: 10px;">
                                                <img class="svg" src="assets/img/svg/whiteR.svg" alt="" />
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>