<!-- WRAPPER ALL -->
<div class="arlo_tm_all_wrap">
  <div class="wrapper_inner">
    <div class="arlo_tm_popup_news scrollable">
      <a class="closer" href="#">Close</a>
      <div class="container">
        <div class="news_inner"></div>
      </div>
    </div>

    <!-- Topbar -->
    <div class="arlo_tm_topbar">
      <div class="topbar_inner">
        <div class="container">
          <div class="topbar_in">
            <div class="logo">
              <a href="#"><img src="assets/img/logo/color.png" height="70px" alt="" /></a>
            </div>
            <div class="trigger">
              <a href="#">
                <span class="menu">Menu</span>
                <span class="close">Close</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <div class="container">
          <div class="dropdown_inner">
            <ul>
              <li><a routerLink="/about">Accueil</a></li>
              <li><a routerLink="/skills">Compétences</a></li>
              <li><a routerLink="/experience">Experience</a></li>
              <li><a routerLink="/project">Projets</a></li>
              <li><a routerLink="/blog">Blog</a></li>
              <li><a routerLink="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /Topbar -->

    <!-- CLASSIC MENU -->
    <div class="arlo_tm_classic_menu">
      <div class="container">
        <div class="inner">
          <div class="logo">
            <img class="light" src="assets/img/logo/logo1.png" alt="" />
            <img class="dark logo-abg" src="assets/img/logo/logo1.png" alt="" />
          </div>
          <div class="menu">
            <ul>
              <li><a routerLink="/about">Accueil</a></li>
              <li><a routerLink="/skills">Compétences</a></li>
              <li><a routerLink="/experience">Experience</a></li>
              <li><a routerLink="/project">Projets</a></li>
              <li><a target="blank" href="https://google.com">Blog</a></li>
              <li><a routerLink="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /CLASSIC MENU -->


<router-outlet></router-outlet>