<div class="arlo_tm_section" id="services">
    <div class="arlo_tm_services">
        <div class="container">
            <div class="arlo_title_holder">
                <span>Quelques projets Github public </span>
                <h3>Projets Github</h3>
            </div>
            <div class="service_inner">
                <ul>
                    <li>
                        <div class="inner">
                            <img class="svg" src="img/svg/source.svg" alt="" />
                            <h3>Web Developmnet</h3>
                            <p>Web design is a similar process of creation, with the intention of presenting...</p>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <img class="svg" src="img/svg/line-chart.svg" alt="" />
                            <h3>Brand Identity</h3>
                            <p>Web design is a similar process of creation, with the intention of presenting...</p>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <img class="svg" src="img/svg/light-bulb.svg" alt="" />
                            <h3>Creative Design</h3>
                            <p>Web design is a similar process of creation, with the intention of presenting...</p>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <img class="svg" src="img/svg/adobe-illustrator.svg" alt="" />
                            <h3>Adobe Illustrator</h3>
                            <p>Web design is a similar process of creation, with the intention of presenting...</p>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <img class="svg" src="img/svg/adobe-photoshop.svg" alt="" />
                            <h3>Adobe Photoshop</h3>
                            <p>Web design is a similar process of creation, with the intention of presenting...</p>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <img class="svg" src="img/svg/twitter-1.svg" alt="" />
                            <h3>Social Media</h3>
                            <p>Web design is a similar process of creation, with the intention of presenting...</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>