<div class="arlo_tm_section" id="news">
    <div class="arlo_tm_news">
        <div class="container">
            <div class="arlo_title_holder">
                <span>Latest News</span>
                <h3>Blog</h3>
            </div>
            <div class="news_inner">
                <ul>
                    <li>
                        <div class="inner">
                            <div class="image">
                                <img class="larger" src="assets/img/news/1000x700.jpg" alt="" />
                                <img class="smaller" src="assets/img/news/1000x500.jpg" alt="" />
                                <div class="main" data-img-url="img/news/1.jpg"></div>
                                <div class="overlay"></div>
                                <span class="category">Stage</span>
                                <a class="link" href="blog"></a>
                            </div>
                            <div class="details">
                                <div class="date">
                                    <p>April 01, 2020</p>
                                </div>
                                <h3 class="title"><a href="blog">Journal de bord | Stage </a></h3>
                            </div>
                            <div class="full_des">

                                <div class="des_serv_list">
                                    <ul>
                                        <li><span>Moving Brands</span></li>
                                        <li><span>InterBrand</span></li>
                                        <li><span>FutureBrand</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fixed-bottom">
        <app-footer></app-footer>
    </div>
</div>
<!-- BLOG -->