<div class="arlo_tm_section" id="news">
    <div class="arlo_tm_news">
        <div class="container">
            <div class="arlo_title_holder">
                <span>Latest News</span>
                <h3>News</h3>
            </div>
            <div class="news_inner">
                <ul>
                    <li>
                        <div class="inner">
                            <div class="image">
                                <img class="larger" src="img/news/1000x700.jpg" alt="" />
                                <img class="smaller" src="img/news/1000x500.jpg" alt="" />
                                <div class="main" data-img-url="img/news/1.jpg"></div>
                                <div class="overlay"></div>
                                <span class="category">Branding</span>
                                <a class="link" href="#"></a>
                            </div>
                            <div class="details">
                                <div class="date">
                                    <p>April 01, 2020 by <a href="#">Adam</a></p>
                                </div>
                                <h3 class="title"><a href="#">The Unwritten Rules of Naming Your
                                        Business</a></h3>
                            </div>
                            <div class="full_des">

                                <div class="des_serv_list">
                                    <ul>
                                        <li><span>Moving Brands</span></li>
                                        <li><span>InterBrand</span></li>
                                        <li><span>FutureBrand</span></li>
                                    </ul>
                                </div>

                                <div class="social">
                                    <span>Share:</span>
                                    <ul>
                                        <li><a href="#"><i class="xcon-facebook"></i></a></li>
                                        <li><a href="#"><i class="xcon-twitter"></i></a></li>
                                        <li><a href="#"><i class="xcon-linkedin"></i></a></li>
                                        <li><a href="#"><i class="xcon-instagram"></i></a></li>
                                        <li><a href="#"><i class="xcon-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="image">
                                <img class="larger" src="img/news/1000x700.jpg" alt="" />
                                <img class="smaller" src="img/news/1000x500.jpg" alt="" />
                                <div class="main" data-img-url="img/news/2.jpg"></div>
                                <div class="overlay"></div>
                                <span class="category">Design</span>
                                <a class="link" href="#"></a>
                            </div>
                            <div class="details">
                                <div class="date">
                                    <p>February 23, 2020 by <a href="#">Tom</a></p>
                                </div>
                                <h3 class="title"><a href="#">4 Startup Branding Trends Finding
                                        Success</a></h3>
                            </div>
                            <div class="full_des">

                                <div class="social">
                                    <span>Share:</span>
                                    <ul>
                                        <li><a href="#"><i class="xcon-facebook"></i></a></li>
                                        <li><a href="#"><i class="xcon-twitter"></i></a></li>
                                        <li><a href="#"><i class="xcon-linkedin"></i></a></li>
                                        <li><a href="#"><i class="xcon-instagram"></i></a></li>
                                        <li><a href="#"><i class="xcon-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <div class="image">
                                <img class="larger" src="img/news/1000x700.jpg" alt="" />
                                <img class="smaller" src="img/news/1000x500.jpg" alt="" />
                                <div class="main" data-img-url="img/news/3.jpg"></div>
                                <div class="overlay"></div>
                                <span class="category">Lifestyle</span>
                                <a class="link" href="#"></a>
                            </div>
                            <div class="details">
                                <div class="date">
                                    <p>January 31, 2020 by <a href="#">Emma</a></p>
                                </div>
                                <h3 class="title"><a href="#">Why Personal Branding Is Weapon</a></h3>
                            </div>
                            <div class="full_des">
                                <p> </p>
                                <div class="social">
                                    <span>Share:</span>
                                    <ul>
                                        <li><a href="#"><i class="xcon-facebook"></i></a></li>
                                        <li><a href="#"><i class="xcon-twitter"></i></a></li>
                                        <li><a href="#"><i class="xcon-linkedin"></i></a></li>
                                        <li><a href="#"><i class="xcon-instagram"></i></a></li>
                                        <li><a href="#"><i class="xcon-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fixed-bottom">
        <app-footer></app-footer>
    </div>
</div>
<!-- BLOG -->